<html>
    <body>
        
        <form method="post">
        to:<input type="text" name="name"><br>
        Subject:<input type="text" name="sub1"><br>
        msg:<input type="text" name="msg1"><br>
        <input type="submit">
        </form>
    </body>
</html>